body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
}
.qr {
  font-family: "Outfit", sans-serif;
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  height: 480px;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: 10px 12px 5px hsl(240, 1%, 80%);
}
.qr-image {
  margin-top: 15px;
  position: relative;
  left: 15px;
  border-radius: 15px;
}
h1 {
  font-size: 1.2rem;
  margin: 20px auto 0;
  width: 250px;
  text-align: center;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
p {
  font-size: 14px;
  font-weight: 400;
  width: 240px;
  margin: 15px auto 0;
  text-align: center;
  color: hsl(220, 15%, 55%);
}
